# Build Directory
target/

# Pom Files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Misc
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.README.md.html
README.md.backup

# Package Files
*.jar
*.war
*.zip
*.tar.gz
*.rar
